In [24]:
import os
from dask.distributed import Client

client = Client(n_workers=2, threads_per_worker=1, memory_limit='1GB')

client

/home/koustav/Documents/DataframeWar/env/lib/python3.8/site-packages/distributed/node.py:151: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 34641 instead
  warnings.warn(

In [29]:
import dask.dataframe as dd

ddf = dd.read_csv('../Data/beer_small.csv', blocksize=12e6)

In [5]:
ddf

Dask DataFrame Structure:
              Unnamed: 0 brewery_id brewery_name review_time review_overall review_aroma review_appearance review_profilename beer_style review_palate review_taste beer_name beer_abv beer_beerid
npartitions=2
                   int64      int64       object       int64        float64      float64           float64             object     object       float64      float64    object  float64       int64
                     ...        ...          ...         ...            ...          ...               ...                ...        ...           ...          ...       ...      ...         ...
                     ...        ...          ...         ...            ...          ...               ...                ...        ...           ...          ...       ...      ...         ...
Dask Name: read-csv, 2 tasks

In [6]:
ddf.head()

,Unnamed: 0,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,784200,952,Great Dane Pub & Brewing Company (Downtown),1136269921,4.5,4.0,4.0,dirtylou,American IPA,4.0,4.0,Texas Speedbump IPA,NaN,11846
1,1305265,29,Anheuser-Busch,1234830966,4.5,4.0,3.0,talkinghatrack,Light Lager,3.0,4.0,Bud Light Lime,4.2,41821
2,1526298,45,Brooklyn Brewery,1078599557,4.5,4.0,4.0,PopeJonPaul,Scotch Ale / Wee Heavy,4.0,4.5,Brooklyn Heavy Scotch Ale,7.5,16355
3,450647,590,New Glarus Brewing Company,1288790879,4.5,4.5,4.5,sweemzander,American Wild Ale,4.5,4.0,R&D Bourbon Barrel Kriek,5.5,60588
4,1223094,4,Allagash Brewing Company,1295320417,4.5,4.5,4.0,Jmoore50,American Wild Ale,4.0,4.0,Allagash Victor Francenstein,9.7,56665

In [7]:
ddf[ddf.beer_style.str.contains('IPA')].head()

,Unnamed: 0,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,784200,952,Great Dane Pub & Brewing Company (Downtown),1136269921,4.5,4.0,4.0,dirtylou,American IPA,4.0,4.0,Texas Speedbump IPA,NaN,11846
9,426580,666,Emerson's Brewery,1192461083,5.0,4.0,4.5,Lukie,English India Pale Ale (IPA),4.0,5.0,1812 India Pale Ale,4.7,4594
24,728901,17963,Nectar Ales,1312873910,3.5,4.0,3.5,Sensaray,American IPA,3.5,3.5,IPA Nectar,6.8,9024
26,745463,12877,NINE G Brewing Company,1189556274,4.0,4.5,4.0,Phatz,American Double / Imperial IPA,4.0,4.5,Infidel Imperial IPA,8.4,31041
28,94239,140,Sierra Nevada Brewing Co.,1269655771,4.0,4.5,4.5,CaptainIPA,American IPA,4.5,4.5,Sierra Nevada Torpedo Extra IPA,7.2,30420

In [8]:
ipa = ddf[ddf.beer_style.str.contains('IPA')]

In [9]:
ipa.head()

,Unnamed: 0,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,784200,952,Great Dane Pub & Brewing Company (Downtown),1136269921,4.5,4.0,4.0,dirtylou,American IPA,4.0,4.0,Texas Speedbump IPA,NaN,11846
9,426580,666,Emerson's Brewery,1192461083,5.0,4.0,4.5,Lukie,English India Pale Ale (IPA),4.0,5.0,1812 India Pale Ale,4.7,4594
24,728901,17963,Nectar Ales,1312873910,3.5,4.0,3.5,Sensaray,American IPA,3.5,3.5,IPA Nectar,6.8,9024
26,745463,12877,NINE G Brewing Company,1189556274,4.0,4.5,4.0,Phatz,American Double / Imperial IPA,4.0,4.5,Infidel Imperial IPA,8.4,31041
28,94239,140,Sierra Nevada Brewing Co.,1269655771,4.0,4.5,4.5,CaptainIPA,American IPA,4.5,4.5,Sierra Nevada Torpedo Extra IPA,7.2,30420

In [10]:
mean_ipa_review = ipa.groupby('brewery_name').review_overall.agg(['mean','count'])

In [11]:
mean_ipa_review.compute()

                                    mean  count
brewery_name
(512) Brewing Company           3.785714      7
1516 Brewing Company            4.000000      1
1702 / The Address Brewing Co.  4.000000      1
21st Amendment Brewery          3.923469     98
7 Seas Brewery and Taproom      4.000000      1
...                                  ...    ...
Yak and Yeti                    4.500000      1
York Brewery Company Limited    4.000000      1
Yukon Brewing Company           4.250000      2
barVolo                         4.000000      1
À l’abri de la Tempête          3.000000      1

[1167 rows x 2 columns]

In [12]:
mean_ipa_review.nlargest(20, 'mean').compute()

                                                        mean  count
brewery_name
Burnside Brewing Co.                                5.000000      1
Elk Mountain Brewing                                5.000000      1
Pioneer Brewing Co.                                 5.000000      2
Crouch Vale Brewery Limited                         5.000000      1
Feral Brewing Co.                                   5.000000      1
Flour City Brewing Co.                              5.000000      1
La Jolla Brew House                                 5.000000      1
Uncle Buck's Brewery & Steakhouse                   5.000000      1
Glacier Brewhouse                                   4.875000      4
The Kernel Brewery                                  4.750000      2
Hart & Thistle                                      4.625000      4
The Alchemist                                       4.537736     53
Russian River Brewing Company                       4.530043    466
Alltech’s Lexington Brewing and Distilling Co.      4.500000      1
BFM Brasserie Des Franches-Montagnes                4.500000      1
Bastone                                             4.500000      2
Big Time Brewery & Alehouse                         4.500000      5
Birrificio Troll                                    4.500000      1
Boscos Restaurant & Brewing Co. - Memphis           4.500000      1
Brewsters Brewing Company & Restaurant - Oliver...  4.500000      1

`compute` doesn't just run the work, it collects the result to a single, regular Pandas dataframe right here in our initial Python VM.

Having a local result is convenient, but if we are generating large results, we may want (or need) to produce output in parallel to the filesystem, instead. 

There are writing counterparts to read methods which we can use:

- `read_csv` \ `to_csv`
- `read_hdf` \ `to_hdf`
- `read_json` \ `to_json`
- `read_parquet` \ `to_parquet`

## READ/WRITE Files


    1. When working with dask preferable try and work with parquet.
    2. Even so when working with Dask - the files can be read with multiple workers .
    3. Most kwargs are applicable for reading and writing files
       e.g. ddf = dd.read_csv('data/pd2dd/ddf*.csv', compression='gzip', header=False).

### WRITE Files

In [35]:
ddf.npartitions

2

In [22]:
ddf_part = ddf.repartition(npartitions=10)
len(ddf_part)

158661

In [19]:
save_path = "Data/temp"

In [21]:
ddf_part.to_csv(filename = "output",index = False)
ddf_part.to_csv(f'../{save_path}/ddf*.csv', index = False)

['/home/koustav/Documents/DataframeWar/Data/temp/ddf0.csv',
 '/home/koustav/Documents/DataframeWar/Data/temp/ddf1.csv',
 '/home/koustav/Documents/DataframeWar/Data/temp/ddf2.csv',
 '/home/koustav/Documents/DataframeWar/Data/temp/ddf3.csv',
 '/home/koustav/Documents/DataframeWar/Data/temp/ddf4.csv',
 '/home/koustav/Documents/DataframeWar/Data/temp/ddf5.csv',
 '/home/koustav/Documents/DataframeWar/Data/temp/ddf6.csv',
 '/home/koustav/Documents/DataframeWar/Data/temp/ddf7.csv',
 '/home/koustav/Documents/DataframeWar/Data/temp/ddf8.csv',
 '/home/koustav/Documents/DataframeWar/Data/temp/ddf9.csv']

In [34]:
l= [ len(dd.read_csv(f'../{save_path}/{file}')) for file in os.listdir(f'../{save_path}')]

print(l)
print(sum(l))

[12862, 18870, 12862, 18870, 18871, 18870, 12862, 18870, 12862, 12862]
158661

### READ Files

In [38]:
_ddf = dd.read_csv(f'../{save_path}/ddf*.csv')
_ddf

Dask DataFrame Structure:
               Unnamed: 0 brewery_id brewery_name review_time review_overall review_aroma review_appearance review_profilename beer_style review_palate review_taste beer_name beer_abv beer_beerid
npartitions=10
                    int64      int64       object       int64        float64      float64           float64             object     object       float64      float64    object  float64       int64
                      ...        ...          ...         ...            ...          ...               ...                ...        ...           ...          ...       ...      ...         ...
...                   ...        ...          ...         ...            ...          ...               ...                ...        ...           ...          ...       ...      ...         ...
                      ...        ...          ...         ...            ...          ...               ...                ...        ...           ...          ...       ...      ...         ...
                      ...        ...          ...         ...            ...          ...               ...                ...        ...           ...          ...       ...      ...         ...
Dask Name: read-csv, 10 tasks

In [39]:
len(_ddf)

158661

In [40]:
_ddf.head(2)

,Unnamed: 0,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,784200,952,Great Dane Pub & Brewing Company (Downtown),1136269921,4.5,4.0,4.0,dirtylou,American IPA,4.0,4.0,Texas Speedbump IPA,NaN,11846
1,1305265,29,Anheuser-Busch,1234830966,4.5,4.0,3.0,talkinghatrack,Light Lager,3.0,4.0,Bud Light Lime,4.2,41821

In [42]:

_ddf.head(2)

,Unnamed: 0,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,784200,952,Great Dane Pub & Brewing Company (Downtown),1136269921,4.5,4.0,4.0,dirtylou,American IPA,4.0,4.0,Texas Speedbump IPA,NaN,11846
1,1305265,29,Anheuser-Busch,1234830966,4.5,4.0,3.0,talkinghatrack,Light Lager,3.0,4.0,Bud Light Lime,4.2,41821

## Let us persist (client.persist)
    1. Load data from files
    2. Filter data to a particular subset
    3. Shuffle data to set an intelligent index
    4. Several complex queries on top of this indexed data

In [43]:
_ddf = client.persist(_ddf)

**IMP Note** - When we call df = client.persist(df) we cut this graph off of the df object, send it up to the scheduler, receive Future objects in return and create a new dataframe with a very shallow graph that points directly to these futures. This happens more or less immediately (as long as it takes to serialize and send the graph) and we can continue working on our new df object while the cluster works to evaluate the graph in the background.

In [ ]:
ddf.compute()  # This is bad and would likely flood local memory
ddf = client.persist(df)    # This is good and asynchronously pins df
ddf.review_taste.sum().compute()  # This is good because the result is small
future = client.compute(ddf.review_taste.sum())  # This is also good but less intuitive

### Cleaning data

In [ ]:
del ddf # Deleting local data often deletes remote data

In [ ]:
ddf2 = ddf[ddf.review_taste < 4]
del ddf  # would not delete data, because ddf2 still tracks the futures

In [ ]:
client.cancel(ddf)
#or
client.restart()