![title](img/dask.png)

![title](img/parallel.jpg)

#### **Dask provides advanced parallelism for analytics, enabling performance at scale for the tools you love**

#### **Dask is composed of two parts:**

    1. Dynamic task scheduling optimized for computation. This is similar to Airflow, Luigi, Celery, or Make, but optimized for interactive computational workloads.
    2. “Big Data” collections like parallel arrays, dataframes, and lists that extend common interfaces like NumPy, Pandas, or Python iterators to larger-than-memory or distributed environments. These parallel collections run on top of dynamic task schedulers.
    
[detailed information here](https://docs.dask.org/en/latest/)

#### **DASK with all its features:**
    • Built in Python
    • Scales properly from single laptops to 1000-node clusters
    • Leverages and interops with existing Python APIs as much as possible
    • Adheres to (Tim Peters') "Zen of Python" (https://www.python.org/dev/peps/pep-0020/) ... especially these elements:
        ◦ Explicit is better than implicit.
        ◦ Simple is better than complex.
        ◦ Complex is better than complicated.
        ◦ Readability counts. [ed: that goes for docs, too!]
        ◦ Special cases aren't special enough to break the rules.
        ◦ Although practicality beats purity.
        ◦ In the face of ambiguity, refuse the temptation to guess.
        ◦ If the implementation is hard to explain, it's a bad idea.
        ◦ If the implementation is easy to explain, it may be a good idea.
    • While we're borrowing inspiration, it Dask embodies one of Perl's slogans, making easy things easy and hard things possible
        ◦ Specifically, it supports common data-parallel abstractions like Pandas and Numpy
        ◦ But also allows scheduling arbitary custom computation that doesn't fit a preset mold

#### **Dask emphasizes the following virtues:**


    • Familiar: Provides parallelized NumPy array and Pandas DataFrame objects
    • Flexible: Provides a task scheduling interface for more custom workloads and integration with other projects.
    • Native: Enables distributed computing in pure Python with access to the PyData stack.
    • Fast: Operates with low overhead, low latency, and minimal serialization necessary for fast numerical algorithms
    • Scales up: Runs resiliently on clusters with 1000s of cores
    • Scales down: Trivial to set up and run on a laptop in a single process
    • Responsive: Designed with interactive computing in mind, it provides rapid feedback and diagnostics to aid humans.

In [5]:
import dask.dataframe as dd

ddf = dd.read_csv('/home/koustav/Documents/DataframeWar/Data/yellow_tripdata_2020-01.csv',
                       dtype={'RatecodeID': 'float64', 'VendorID': 'float64', 'passenger_count':'float64', 'payment_type': 'float64'},assume_missing=True, blocksize=12e6)

In [2]:
ddf.loc[0]

Dask DataFrame Structure:
               VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID payment_type fare_amount    extra  mta_tax tip_amount tolls_amount improvement_surcharge total_amount congestion_surcharge
npartitions=50
                float64               object                object         float64       float64    float64             object      float64      float64      float64     float64  float64  float64    float64      float64               float64      float64              float64
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
...                 ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
Dask Name: try_loc, 100 tasks

In [3]:
len(ddf)

6405008

In [4]:
ddf_part = dd.read_csv('/home/koustav/Documents/DataframeWar/Data/yellow_tripdata_2020-01.csv',
                       dtype={'RatecodeID': 'float64', 'VendorID': 'float64', 'passenger_count':'float64', 'payment_type': 'float64'},assume_missing=True)
ddf_part = ddf_part.repartition(npartitions=100)

In [5]:
len(ddf_part)

/home/koustav/Documents/DataframeWar/env/lib/python3.8/site-packages/dask/core.py:121: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  return func(*(_execute_task(a, cache) for a in args))

6405008

In [6]:
ddf_part.loc[0]

Dask DataFrame Structure:
                VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID payment_type fare_amount    extra  mta_tax tip_amount tolls_amount improvement_surcharge total_amount congestion_surcharge
npartitions=100
                 float64               object                object         float64       float64    float64             object      float64      float64      float64     float64  float64  float64    float64      float64               float64      float64              float64
                     ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
...                  ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
                     ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
                     ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
Dask Name: try_loc, 220 tasks

![title](img/dask-dataframe.png)

In [11]:
import dask.dataframe as dd

In [8]:
ddf = dd.read_csv('/home/koustav/Documents/DataframeWar/Data/weather.csv')

In [16]:
ddf.npartitions
len(ddf)
ddf.loc[0]

Dask DataFrame Structure:
                date     temp     wind rainfall humidity
npartitions=1
               int64  float64  float64  float64  float64
                 ...      ...      ...      ...      ...
Dask Name: try_loc, 2 tasks

In [21]:
ddf_part = ddf.repartition(npartitions=10)

In [22]:
len(ddf_part)
ddf_part.loc[0]

Dask DataFrame Structure:
                 date     temp     wind rainfall humidity
npartitions=10
                int64  float64  float64  float64  float64
                  ...      ...      ...      ...      ...
...               ...      ...      ...      ...      ...
                  ...      ...      ...      ...      ...
                  ...      ...      ...      ...      ...
Dask Name: try_loc, 22 tasks

[The perfect formula to set the number of performance](https://stackoverflow.com/questions/44657631/strategy-for-partitioning-dask-dataframes-efficiently)

In [26]:
ddf_part.map_partitions(type).compute(assume_missing=True)

0    <class 'pandas.core.frame.DataFrame'>
1    <class 'pandas.core.frame.DataFrame'>
2    <class 'pandas.core.frame.DataFrame'>
3    <class 'pandas.core.frame.DataFrame'>
4    <class 'pandas.core.frame.DataFrame'>
5    <class 'pandas.core.frame.DataFrame'>
6    <class 'pandas.core.frame.DataFrame'>
7    <class 'pandas.core.frame.DataFrame'>
8    <class 'pandas.core.frame.DataFrame'>
9    <class 'pandas.core.frame.DataFrame'>
dtype: object

In [25]:
ddf.head()

       date  temp   wind  rainfall  humidity
0  19900101  28.4  17.96      20.4     32.18
1  19900102  35.5   2.23       0.0     22.84
2  19900103  17.4   9.06       0.0     29.38
3  19900104  28.4   1.57       0.0     26.30
4  19900105  28.3   0.30       0.0     26.75

In [28]:
ddf_part.head()

       date  temp   wind  rainfall  humidity
0  19900101  28.4  17.96      20.4     32.18
1  19900102  35.5   2.23       0.0     22.84
2  19900103  17.4   9.06       0.0     29.38
3  19900104  28.4   1.57       0.0     26.30
4  19900105  28.3   0.30       0.0     26.75

### How does **GROUPBY** happen in **DASK** (distributed framework)?

<!-- ![title](img/panda.png) -->
<img src="img/panda.png" width=800 />

In [9]:
import pandas as pd

pdf = pd.DataFrame(dict(a=[1, 1, 2, 3, 3, 1, 1, 2, 3, 3, 4, 4, 1, 3, 6],b=[1, 3, 10, 3, 2, 1, 3, 10, 3, 3, 12, 0, 9, 2, 4],c=[2, 4, 5, 2, 3, 5, 2, 3, 9, 2, 44, 33, 2, 4,1]))
pdf

    a   b   c
0   1   1   2
1   1   3   4
2   2  10   5
3   3   3   2
4   3   2   3
5   1   1   5
6   1   3   2
7   2  10   3
8   3   3   9
9   3   3   2
10  4  12  44
11  4   0  33
12  1   9   2
13  3   2   4
14  6   4   1

In [10]:
ddf = dd.from_pandas(pdf, npartitions=3)
ddf

Dask DataFrame Structure:
                   a      b      c
npartitions=3
0              int64  int64  int64
5                ...    ...    ...
10               ...    ...    ...
14               ...    ...    ...
Dask Name: from_pandas, 3 tasks

In [14]:
ddf.partitions[2].compute()

    a   b   c
10  4  12  44
11  4   0  33
12  1   9   2
13  3   2   4
14  6   4   1

In [15]:
sdf1 = pdf[:5]
sdf2 = pdf[5:10]
sdf3 = pdf[10:]

In [17]:
gp1 = sdf1.groupby(['a', 'b']).c.sum()
gp2 = sdf2.groupby(['a', 'b']).c.sum()
gp3 = sdf3.groupby(['a', 'b']).c.sum()

In [21]:
gp1,gp2,gp3

(a  b
 1  1     2
    3     4
 2  10    5
 3  2     3
    3     2
 Name: c, dtype: int64,
 a  b
 1  1      5
    3      2
 2  10     3
 3  3     11
 Name: c, dtype: int64,
 a  b
 1  9      2
 3  2      4
 4  0     33
    12    44
 6  4      1
 Name: c, dtype: int64)

In [22]:
concated_gp = pd.concat([gp1, gp2, gp3])

In [23]:
concated_gp

a  b
1  1      2
   3      4
2  10     5
3  2      3
   3      2
1  1      5
   3      2
2  10     3
3  3     11
1  9      2
3  2      4
4  0     33
   12    44
6  4      1
Name: c, dtype: int64

In [24]:
total = concated_gp.groupby(level=[0, 1]).sum()

In [25]:
total

a  b
1  1      7
   3      6
   9      2
2  10     8
3  2      7
   3     13
4  0     33
   12    44
6  4      1
Name: c, dtype: int64

In [27]:
pdf.groupby(['a', 'b']).c.sum()

a  b
1  1      7
   3      6
   9      2
2  10     8
3  2      7
   3     13
4  0     33
   12    44
6  4      1
Name: c, dtype: int64

In [28]:
ddf.groupby(['a', 'b']).c.sum().compute()

a  b
1  1      7
   3      6
2  10     8
3  2      7
   3     13
1  9      2
4  0     33
   12    44
6  4      1
Name: c, dtype: int64